﻿<nav class="navbar navbar-default">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#wild-strakh-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" ng-controller="NavbarController as navbar">
            <h4 class="navbar-text">Schdl Online</h4>
            <ul class="nav navbar-nav">
                <li ng-repeat="item in navbar.menu" ng-class="{active: navbar.isStateActive(item.stateName)}">
                    <a ui-sref="{{ item.stateName }}">
                        {{ item.name }}
                    </a>
                </li>
            </ul>
        </div>

    </div>

</nav>