﻿<div ng-controller="FacilityUploadController as upload">
    <style>
        .facilities .tab-content {
            color: white;
            background-color: #428bca;
            padding: 5px 15px;
        }

        .facilities .nav-pills > li > a {
            border-radius: 0;
        }

        .showtext {
            color: black;
        }
    </style>
    <div class="row">
        <h3>Загрузка Корпусов</h3>
        <div class="col-sm-6">
            <div ng-hide="upload.facilities.length">
                <upload files="facilityFile"></upload>
            </div>
            <div ng-show="upload.facilities.length">

                <uib-tabset active="active" type="pills" class="facilities">
                    <uib-tab classes="" index="$index " ng-repeat="facility in upload.facilities" heading="{{facility.name}}" select="upload.select(facility)">
                        Адрес: {{facility.address}}

                        <h4>Аудитории: </h4>
                        <div ng-show="facility">
                            <div ng-show="facility.rooms.length">
                                <ul class="list-group">
                                    <li class="list-group-item showtext" ng-repeat="room in facility.rooms"> №{{room.number}} вмещает {{room.capacity}}, {{room.type}}</li>
                                </ul>
                            </div>
                            <div ng-hide="facility.rooms.length" class="showtext">
                                <upload files="upload.roomFile"></upload>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>

            </div>
        </div>
    </div>
</div>