﻿<div ng-controller="ScheduleController as schedule">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>День</th>
                <th>1 пара</th>
                <th>2 пара</th>
                <th>3 пара</th>
                <th>4 пара</th>
                <th>5 пара</th>
                <th>6 пара</th>
                <th>7 пара</th>
                <th>8 пара</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="day in schedule.schedule.days">
            <td>{{schedule.getDay(day.number)}}</td>
            <td ng-repeat="time in schedule.times">
                <div ng-show="schedule.getClass(time, day)">
                    <p>{{schedule.getClass(time, day).subject.name}} - {{schedule.getClass(time, day).teacher.name}}</p>
                    <p>{{schedule.getType(schedule.getClass(time, day).type)}}</p>
                    <p>Аудитория: {{schedule.getClass(time, day).room.number}}</p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>