﻿<div class="row" ng-controller="TeacherUploadController as upload">
    <div class="col-sm-6">
        <h4>Загрузить Преподавателей</h4>
        <upload files="teacherFile"></upload>
    </div>
    <div class="col-sm-6">
        <div ng-show="upload.teachers.length">
            <h4>Всего: {{upload.teachers.length}}</h4>
            <ul class="list-group" ng-repeat="teacher in upload.teachers">
                <li class="list-group-item">
                    <span class="badge">{{teacher.quality}}</span>
                    <div>{{teacher.name}}</div>
                    <div><span ng-repeat="subject in teacher.subjects">{{subject.name}}</span></div>
                </li>
            </ul>
        </div>
    </div>
</div>