﻿<ul class="nav nav-pills nav-stacked" ng-controller="SidebarController as sidebar">
    <li ng-repeat="item in sidebar.pills" ng-class="{active: sidebar.isPillActive(item.stateName)}">
        <a ui-sref="{{ item.stateName }}">
            {{ item.name }}
        </a>
    </li>
</ul>