﻿<select class="form-control" ng-model="value" ng-change="onSelect(value)" required>
    <option value="">{{text}}</option>
    <option ng-repeat="item in source" value="{{getValue(item)}}">
        {{getDisplay(item)}}
    </option>
</select>