﻿<!DOCTYPE html>
<html ng-app="schdl" ng-strict-di >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Schdl</title>
    @Styles.Render("~/styles/vendors")
    @Styles.Render("~/styles/app")
</head>
<body>
    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Schdl</p>
        </footer>
    </div>

    @Scripts.Render("~/scripts/vendors")
    @Scripts.Render("~/scripts/app")
</body>
</html>
