﻿<div class="row" ng-controller="GroupUploadController as upload">
    <div class="col-sm-6">
        <h3 ng-hide="upload.group">Загрузка Группы</h3>
        <h3 ng-show="upload.group">Группа № {{upload.group.number}}</h3>
        <div ng-show="!upload.group">
            <upload files="groupFile"></upload>
        </div>
        <div>
            <h4 ng-show="upload.group">Студенты группы № {{upload.group.number}}</h4>
            <div ng-show="upload.allowStudentsUpload() && !upload.students.length">
                <upload files="studentFile"></upload>
            </div>
            <div ng-show="upload.students.length">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="student in upload.students">{{student.name}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>