﻿<div ng-controller="GroupCoreController as core">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Номер группы</th>
                <th>Студенты</th>
                <th>Учебный план</th>
                <th>Расписание</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="group in core.groups">
                <td>{{group.number}}</td>
                <td>
                    <p ng-show="group.students.length">
                        <button type="button" role="button" class="btn btn-info" ng-click="core.showStudents(group)">Список</button>
                    </p>
                    <p ng-show="!group.students.length">
                        Нет студентов
                    </p>
                </td>
                <td>
                    <p ng-show="group.plan">
                        <button type="button" role="button" class="btn btn-info" ng-click="core.showPlan(group)">Посмотреть</button>
                    </p>
                    <p ng-show="!group.plan">
                        Плана нету
                    </p>
                </td>
                <td>
                    <button type="button" role="button" class="btn btn-info" ng-click="core.showSchedule(group)">Посмотреть</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>