﻿<div ng-controller="StudentsController as students">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Имя</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in students.students">
                <td> {{student.id}} </td>
                <td>
                    {{student.name}}
                </td>
            </tr>
        </tbody>
    </table>
</div>