﻿.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 250px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.drop-box:hover{
    cursor: pointer;
}
.dragover {
    border: 5px dashed blue;
}

