﻿<div>
    <div ngf-drop
         ngf-select
         ng-model="files"
         class="drop-box"
         ngf-drag-over-class="'dragover'"
         ngf-multiple="false"
         ngf-allow-dir="false">
        Сюда файл
    </div>
</div>
