﻿<div ng-controller="PlanUploadController as upload">
    <div class="row">
        <h4>Учебные планы</h4>
        <div class="row">
            <div class="col-sm-6">
                <form>
                    <select class="form-control" ng-model="upload.selectedGroupId" ng-change="upload.onGroupSelected()" required>
                        <option value="">Выберите группу</option>
                        <option ng-repeat="item in upload.groups" value="{{item.id}}">
                            Группа № {{item.number}}
                        </option>
                    </select>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" ng-show="!upload.plan && upload.group">
                <upload files="planFile"></upload>
            </div>
        </div>
        <div class="row">
            <h4 ng-show="upload.plan">
                План для группы № {{upload.group.number}} есть!
            </h4>
        </div>
    </div>
</div>