﻿<div ng-controller="AppController as app">
    <header>
        <navigation></navigation>
    </header>
    <div class="spinner" ng-show="app.showSpinner">
        <div class="loader">
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="line"></div>
        </div>
    </div>
    <div class="row " ui-view>
    </div>
</div>
