﻿<div class="row" ng-controller="SubjectUploadController as upload">
    <div class="col-sm-6">
        <h4>Загрузка Предметов</h4>
        <upload files="subjectFile"></upload>
    </div>
    <div class="col-sm-6">
        <div ng-show="upload.subjects.length">
            <h4>
                Всего загружено: {{upload.subjects.length}}
            </h4>
            <ul class="list-group" ng-repeat="subject in upload.subjects">
                <li class="list-group-item">
                    <span class="badge">{{subject.importance}}</span> {{subject.name}}
                </li>
            </ul>
        </div>
    </div>
</div>
