﻿<div ng-controller="PlanController as plan">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Предмет</th>
                <th>Тип занятия</th>
                <th>Количество часов</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(name, entry) in plan.subjects">
                <td> {{name}} </td>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="(type, subject) in entry">
                            {{type}}
                        </li>
                    </ul>
                </td>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="(type, subject) in entry">
                            {{subject.amount}}
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>